/* =========================================
   ADMIN LAYOUT
========================================= */
.admin-layout {
    display: flex;
    min-height: 100vh;
}

/* =========================================
   SIDEBAR
========================================= */
.sidebar {
    width: 240px;
    padding: 28px 22px;
    display: flex;
    flex-direction: column;
    background: #0f172a;
    border-right: 1px solid #1e293b;
}

/* ---------- Logo ---------- */
.sidebar-logo h1 {
    margin: 0;
    color: white;
    font-size: 34px;
    line-height: 1;
}

.sidebar-logo span {
    color: #3b82f6;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
}

/* ---------- Profile ---------- */
.sidebar-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 40px 0;
}

.sidebar-profile img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-profile h3 {
    margin: 0;
    color: white;
    font-size: 18px;
}

.sidebar-profile p {
    margin: 2px 0 0;
    color: #94a3b8;
    font-size: 13px;
}

/* ---------- Menu ---------- */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-menu a {
    text-decoration: none;
    color: #cbd5e1;
    padding: 12px 16px;
    border-radius: 12px;
    transition: .25s;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background: #2563eb;
    color: white;
}

/* ---------- Footer ---------- */
.sidebar-footer {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #243244;
}

.sidebar-footer h4 {
    margin: 0;
    color: white;
}

.sidebar-footer span {
    color: #64748b;
    font-size: 12px;
}

/* =========================================
   CONTENT
========================================= */

.admin-content {
    flex: 1;
    background: #0b0f14;
}

.admin-content main {
    padding: 30px;
}

/* =========================================
   TOPBAR
========================================= */
.topbar {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;

    background: #111827;
    border-bottom: 1px solid #1e293b;
}

/* ---------- Search ---------- */
.search-box {
    width: 420px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    background: #1f2937;
    border: 1px solid #334155;
    border-radius: 12px;
}

.search-box span {
    color: #94a3b8;
    font-size: 14px;
}

.search-box input {
    flex: 1;

    background: transparent;
    border: none;
    outline: none;

    color: white;
    font-size: 14px;
}

.search-box input::placeholder {
    color: #64748b;
}


.search-icon {
    font-size: 15px;
    color: #94a3b8;
}


/* ---------- Right ---------- */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notification {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #1f2937;

    cursor: pointer;
    position: relative;
}

.notif-dot {
    position: absolute;

    top: 2px;
    right: 2px;

    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: #ef4444;
}

.admin-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-user img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-user span {
    color: white;
    font-weight: 600;
}

/* =========================================
   MAIN PAGE
========================================= */
.admin-page {
    padding: 24px;
}

/* =========================================
   WELCOME BANNER
========================================= */
.welcome-banner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 36px;
    margin-bottom: 28px;
    border-radius: 22px;
    background: linear-gradient(135deg,
            #1d4ed8,
            #2563eb,
            #1e40af);
}

.welcome-banner::before {
    content: "";

    position: absolute;

    width: 300px;
    height: 300px;

    right: -80px;
    top: -80px;

    border-radius: 50%;

    background:
        rgba(255, 255, 255, .05);
}

.welcome-text span {
    color: #bfdbfe;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.welcome-text h2 {
    margin: 12px 0;
    color: white;
    font-size: 38px;
}

.welcome-text p {
    max-width: 520px;
    color: #dbeafe;
    line-height: 1.7;
}

.manage-btn {
    padding: 15px 24px;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 12px;
    background: rgba(255, 255, 255, .12);

    color: white;
    font-weight: 600;

    cursor: pointer;
    transition: .25s;
}

.manage-btn:hover {
    background: rgba(255, 255, 255, .2);
}

/* =========================================
   ADMIN STATISTICS
========================================= */

.admin-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;

    margin-bottom: 30px;
}

.stat-card {
    padding: 22px;
    background: #111827;
    border: 1px solid #253244;
    border-radius: 18px;

    transition: .25s;
}

.stat-card:hover {
    transform: translateY(-5px);
    border-color: #3b82f6;
    box-shadow: 0 10px 25px rgba(37, 99, 235, .15);
}

.stat-icon {
    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 18px;

    border-radius: 14px;

    background: rgba(37, 99, 235, .15);
    font-size: 24px;
}

.stat-card span {
    display: block;
    color: #94a3b8;
    font-size: 13px;
}

.stat-card h3 {
    margin: 10px 0 8px;
    color: white;
    font-size: 34px;
}

.stat-card p {
    margin: 0;
    color: #22c55e;
    font-size: 13px;
}

/* =========================================
   CONTENT GRID
========================================= */

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 22px;
    align-items: start;
}

/*kiri*/
.pending-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* kanan */
.side-panel {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* placeholder card */
.division-card,
.member-card {
    background: #111827;
    border: 1px solid #253244;
    border-radius: 18px;
    padding: 22px;
}

/* =========================================
   PENDING SUBMISSIONS
========================================= */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.section-header h2 {
    margin: 0;
    color: white;
    font-size: 28px;
}

.section-header select {
    background: #0b1220;
    color: white;
    border: 1px solid #253244;
    border-radius: 10px;
    padding: 10px 14px;
}

.submission-card {
    display: grid;
    grid-template-columns: 180px 1fr 160px;
    gap: 20px;

    background: #111827;
    border: 1px solid #253244;
    border-radius: 18px;
    padding: 18px;
}

.submission-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
}

.member-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.member-row h3 {
    margin: 0;
    color: white;
}

.division-tag {
    padding: 5px 10px;
    background: #1d4ed8;
    border-radius: 999px;
    color: #dbeafe;
    font-size: 12px;
}

.submission-content h4 {
    margin: 8px 0;
    color: white;
    font-size: 22px;
}

.submission-content p {
    color: #94a3b8;
    line-height: 1.6;
}

.submission-content small {
    color: #64748b;
}

.review-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.review-panel label {
    color: #cbd5e1;
    font-size: 13px;
    font-weight: 600;
}

.review-panel select {
    padding: 10px;
    border-radius: 10px;
    background: #0b1220;
    color: white;
    border: 1px solid #253244;
}

.rating-select {
    width: 100%;
    padding: 12px 14px;

    background: #0b1220;
    color: white;

    border: 1px solid #2b3b52;
    border-radius: 10px;

    outline: none;
    font-size: 14px;
}

.rating-select:focus {
    border-color: #3b82f6;
}

.accept-btn {
    background: #16a34a;
    color: white;
    border: none;
}

.decline-btn {
    background: #dc2626;
    color: white;
    border: none;
}

/* =========================================
   DIVISION PROGRESS
========================================= */

.division-card {
    background: #111827;
    border: 1px solid #253244;
    border-radius: 18px;
    padding: 22px;
}

.division-card h3 {
    margin: 0;
    color: white;
    font-size: 24px;
}

.card-subtitle {
    color: #94a3b8;
    font-size: 13px;
    margin: 6px 0 22px;
}

.division-item {
    margin-bottom: 20px;
}

.division-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.division-info span {
    color: #e2e8f0;
    font-size: 14px;
}

.division-info strong {
    color: white;
}

.progress-track {
    width: 100%;
    height: 10px;
    background: #1e293b;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    border-radius: 999px;
}

.game {
    width: 78%;
    background: #3b82f6;
}

.web {
    width: 72%;
    background: #8b5cf6;
}

.robot {
    width: 64%;
    background: #22c55e;
}

.media {
    width: 81%;
    background: #f59e0b;
}

/* =========================================
   MEMBER PROGRESS
========================================= */
.member-card {
    background: #111827;
    border: 1px solid #253244;
    border-radius: 18px;
    padding: 22px;
}

.member-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.member-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding-bottom: 14px;
    border-bottom: 1px solid #1f2937;
}

.member-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.member-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.member-text {
    flex: 1;
}

.member-text h4 {
    margin: 0 0 6px;
    color: white;
    font-size: 16px;
}

.member-tag {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 11px;
    font-weight: 600;
    color: white;
}

.member-tag.game {
    background: #2563eb;
}

.member-tag.web {
    background: #7c3aed;
}

.member-tag.robot {
    background: #16a34a;
}

.member-item strong {
    color: white;
    font-size: 20px;
}

/* =========================================
   PROJECT THUMBNAIL
========================================= */
.project-preview {
    position: relative;
    width: 180px;
    height: 140px;
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #253244;
}

.preview-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;

    background: rgba(37, 99, 235, .9);
    color: white;
    border-radius: 999px;
    font-size: 11px;
    font-weight: 600;

}

.stats-card,
.side-card,

#submissionList{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.submission-card {
    transition: .25s;
    background: #101b31;
    border: 1px solid #214070;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.stats-card:hover,
.side-card:hover,
.submission-card:hover {
    transform: translateY(-4px);

    border-color: #3b82f6;

    box-shadow: 0 10px 30px rgba(37, 99, 235, .18);
}

.submission-card h3{
    color:#fff;
    margin-bottom:10px;
}

.submission-card p{
    color:#cbd5e1;
    margin:6px 0;
}

.submission-card span{
    display:inline-block;
    margin-top:10px;
    padding:6px 12px;
    border-radius:999px;
    background:#2563eb;
    color:white;
    font-size:13px;
}


/* KIRI */
.submission-left{
    position:relative;
}

.submission-left img{
    width:180px;
    height:120px;
    object-fit:cover;
    border-radius:14px;
}

.shot-badge{
    position:absolute;
    top:10px;
    right:10px;

    background:#2563eb;
    color:#fff;

    padding:5px 10px;
    border-radius:999px;
    font-size:12px;
}

/* TENGAH */
.submission-middle{
    flex:1;
}

.member-row{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.member-row h3{
    margin:0;
    color:#fff;
}

.division-tag{
    background:#1d4ed8;
    color:white;

    padding:6px 12px;
    border-radius:999px;
    font-size:12px;
}

.submission-middle h2{
    color:#fff;
    margin-bottom:10px;
}

.submission-middle p{
    color:#b7c5d8;
    line-height:1.7;
}

.submission-middle small{
    color:#7f93ac;
}

/* KANAN */
.submission-right{
    width:170px;

    display:flex;
    flex-direction:column;
    gap:12px;
}

.submission-right label{
    color:white;
    font-weight:600;
}

.submission-right select{
    background:#07111f;
    color:white;

    border:1px solid #284569;
    border-radius:10px;
    padding:10px;
}