/* =========================================
   LOGIN PAGE
========================================= */


.login-container {
    width: 90%;
    max-width: 450px;

    margin: 80px auto;
}

.login-card {
    padding: 35px;

    background: #141b23;

    border: 1px solid #293541;
    border-radius: 14px;
}

.login-card h2 {
    margin-top: 0;

    text-align: center;
    font-size: 32px;
}

.login-card label {
    display: block;

    margin-top: 20px;
    margin-bottom: 8px;
}

.login-card input {
    width: 100%;

    padding: 12px;

    background: #0e141b;
    color: white;

    border: 1px solid #293541;
    border-radius: 8px;
}

.login-card button {
    width: 100%;

    margin-top: 25px;
    padding: 12px;

    background: #273541;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.login-card button:hover {
    background: #394b5b;
}